@font-face {
  font-family: 'ms-sans-serif';
  src: url('../assets/fonts/ms-sans-serif/MS Sans Serif.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

@font-face {
  font-family: 'ms-sans-serif';
  src: url('../assets/fonts/ms-sans-serif-bold/MS Sans Serif Bold.ttf')
    format('truetype');
  font-weight: bold;
  font-style: normal;
  font-display: block;
}
